<% @shipments.each do |shipment| %>
    <tr>
        <td>
            <span class="footable-arrow"><a>›</a></span>
            <%= shipment.name %>
        </td>
        <td><%= shipment.code %></td>
        <td><%= shipment.note %></td>
        <td>$43.00</td>
        <td>7600</td>
        <td><span class="label label-primary">Enable</span></td>
        <td><%= shipment.delivery_date %></td>
        <td class="text-right">
            <div class="btn-group">
                <a href="<%= worker_shipment_path(shipment) %>" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                <a href="<%= edit_worker_shipment_path(shipment) %>" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
            </div>
        </td>
    </tr>
<% end%>
