<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Project list</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= worker_shipments_path %>">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Shipment list</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content m-b-sm border-bottom">
    <%= form_with url: worker_shipments_path, method: :get do |f| %>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label class="col-form-label" for="name">Name</label>
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label class="col-form-label" for="price">Price</label>
            <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
          </div>
        </div>
        <div class="col-sm-4 row">
          <div class="form-group col-sm-6">
            <label class="col-form-label">Start Date</label>
            <%= f.date_field :start_date, placeholder: 'Delivery date', class: 'form-control' %>
          </div>
          <div class="form-group col-sm-6">
            <label class="col-form-label">End Date</label>
            <%= f.date_field :end_date, placeholder: 'Delivery date', class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-4 input-group">
          <div class="form-group">
            <label class="col-form-label" for="status">Status</label>
            <select name="status" id="status" class="form-control">
              <option value="1" selected>Enabled</option>
              <option value="0">Disabled</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label" for="status">.</label>
            <span class="input-group-append">
            <%= f.submit "Create", class: 'btn btn-primary' %>
          </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <table class="footable table table-stripped toggle-arrow-tiny" data-paging="false">
            <thead>
              <tr>
                <th data-toggle="true">Product Name<i class="fa fa-fw fa-sort"></i></th>
                <th data-hide="phone">Model</th>
                <th data-hide="all">Description</th>
                <th data-hide="phone">Price</th>
                <th data-hide="phone,tablet" >Quantity</th>
                <th data-hide="phone">Status</th>
                <th data-hide="phone">Delivery date</th>
                <th class="text-right" data-sort-ignore="true">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if @shipments %>
                <%= render 'table' %>
              <% end%>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6">
                <ul class="pagination float-right">
                  <%= paginate @shipments %>
                </ul>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.footable').footable({ paginate:false });
  });
</script>