<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Shipment</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= worker_shipments_path %>">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Shipment show</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                                <% if @shipment.images.attached? %>
                                    <div class="carousel-inner">
                                        <% i = 0 %>
                                        <% @shipment.images.each do |image| %>
                                            <% if i == 0 %>
                                                <% active = "active" %>
                                            <% else %>
                                                <% active = "" %>
                                            <% end %>
                                            <div class="carousel-item <%= active %>">
                                                <%= image_tag(url_for(image)) %>
                                            </div>
                                            <% i = i + 1 %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <a class="slick-prev slick-arrow" href="#carouselExampleInterval" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"><<<</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="slick-next slick-arrow" href="#carouselExampleInterval" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true">>>></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <% if @shipment.images.attached? %>
                                    <% i = 0 %>
                                    <ol class="carousel-indicators">
                                        <% @shipment.images.each do |image| %>
                                            <% if i == 0 %>
                                            <% active = "active" %>
                                            <% end %>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= active %>"</li>
                                        <% i = i + 1 %>
                                        <% end %>
                                    </ol>
                                <% end %>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2 class="font-bold m-b-xs">
                                <%= @shipment.code %> Shipment detail
                            </h2>
                            <span class="badge badge-info"><%= @shipment.status %></span><br>
                            <small><%= @shipment.shipment_definition %>.</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">$<%= @shipment.price %> <small class="text-muted"><%= @shipment.about_payment %></small> </h2>
                            </div>
                            <hr>
                            <h4>Shipment object description</h4>
                            <div class="small text-muted">
                                <%= @shipment.shipment_object_description %>
                                <br>
                                <br>
                                <%= @shipment.note %>.
                            </div>
                            <dl class="small m-t-md">
                                <dt>Description lists</dt>
                                <dd>Delivery date: <%= @shipment.delivery_date %></dd>
                                <dd>Phone: <%= @shipment.phone %></dd>
                                <dd>Status history: <b><%= @shipment.status_history %></b></dd>
                                <dd>Delivered date: <b><%= @shipment.delivered_date %></b></dd>
                                <dd>Created person: <b><%= @shipment.created_worker.name %></b></dd>
                                <dd>Updated person: <b><%= @shipment.updated_worker.name %></b></dd>
                                <dd>Created at: <b><%= @shipment.created_at %></b></dd>
                                <dd>Updated at: <b><%= @shipment.updated_at %></b></dd>
                                <dd>Customer phone: <b><%= @shipment.customer_phone %></b></dd>
                                <dd>Recipient phone: <b><%= @shipment.recipient_phone %></b></dd>
                                <dd>Email: <b><%= @shipment.email %></b></dd>
                                <dd>Customer name: <b><%= @shipment.customer_name %></b></dd>
                                <dd>Recipient name: <b><%= @shipment.recipient_name %></b></dd>
                                <dd>Location from: <b><%= @shipment.location_from %></b></dd>
                                <dd>Location to: <b><%= @shipment.location_to %></b></dd>
                            </dl>
                            <hr>
                            <div>
                                <div class="btn-group">
                                    <%= form_for @shipment do |f| %>
                                    <% end %>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                            <span class="float-right">
                                Full shipment - <i class="fa fa-clock-o"></i> <%= Time.now %>
                            </span>
                    shipment footer
                </div>
            </div>
        </div>
    </div>
</div>