<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>All form elements <small>Create post.</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <%= form_for @post do |f| %>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <%= f.text_field :title, class: "form-control" %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-10">
                            <%= f.text_field :subject, class: "form-control" %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Note</label>
                        <div class="col-sm-10">
                            <%= f.text_field :note, class: "form-control" %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <%= f.select(:status, {'passive': false, 'active': true}, {}, { :class => 'form-control' }) %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <%= f.select(:post_type, [:top_slider, :news, :team], {}, { :class => 'form-control' }) %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <%= f.file_field :image %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <%= link_to 'Cancel', admin_posts_path, class: "btn btn-white btn-sm" %>
                            <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
