<!DOCTYPE html>
<html>
  <head>
    <title>Cargo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="pace-done">
    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <%= render "layouts/navigation" %>
      </nav>
      <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
          <%= render "layouts/header" %>
        </div>
        <div class="wrapper wrapper-content">
          <%= yield %>
        </div>
        <div class="footer fixed">
          <%= render "layouts/footer" %>
        </div>
      </div>
    </body>
  </body>
</html>
